
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/style_add.css" />
  <title>Document</title>
</head>
<body>
  <img class="wave" src="/images/BG5.png" /> 
  <br>
  <div class="container-fluid" alt="Max-width 100%" >
    <nav class="navbar navbar-expand-sm " style="background-color: #fafafa;" id="head_navbar" >
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"">
          <li class="nav-item">
              <a class="nav-link" href="/dashboard">Your Profile</a>
            </li>
          <li class="nav-item active">
            <a class="nav-link" href="/users/movie">Movie <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add">Booking</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/users/listBooking"> List Booking</a>
            </li>
          
        </ul>
        <a href="/users/logout" class="btn btn-secondary" id="btn">Logout</a>
      </div>
    </nav>
  </div>
  <br>
  <div class="jumbotron" style="padding: 0%" >
    <img class="ad" src="/images/ad4.png" /> 
  </div>

  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body" id="box">
        <h1 class="text-center mb-3" id="logo">
          <i class="fas fa-user-plus"></i> Add Booking
        </h1>
       
        <form action="/add" method="POST">
          <div class="form-group">
            <label for="name">Name Of Movie</label>
            <input
              type="name"
              id="namemovie"
              name="namemovie"
              class="form-control"
              placeholder="Enter Name"
              required
              
             
            />
          </div>
          <div class="form-group">
            <label for="detail"> Price</label>
           
            <input
              type="number"
              id="price"
              name="price"
              class="form-control"
              placeholder="Enter Price"
              required
              
            />
          </div>
          <br>
          <button id="btn_add" type="submit" class="btn btn-primary btn-block" >Add Booking</button>
        </form>
        
      </div>
    </div>
  </div>
</body>
</html>


   