    <img class="wave" src="images/BG1.png" ></img>
    <div class="container">
        <div class="img">
            <img src="images/movie.svg"></img>
        </div>
        <div class="login-register">
            <div class="button">
                <input class="button-login" type="button" value="Login">
            </div>
            <h6>-OR-</h6>
            <div class="button">
                <input class="button-register" type="button" value="Register">
            </div>
        </div>
    </div>
