<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/3c9c1c2011.js" crossorigin="anonymous"></script>
</head>
<body>
    <img class="wave" src="images/BG1.png" >
    <div class="container">
        <div class="img">
            <img src="images/movie.svg">
        </div>
        <div class="login-register">
            <div class="button">
                <input class="button-login" type="button" value="Login">
            </div>
            <h6>-OR-</h6>
            <div class="button">
                <input class="button-register" type="button" value="Register">
            </div>
        </div>
    </div>
<!-- <script type="text/javascript" src="js"></script> -->
</body>
</html>