<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/style_list.css" />
  <title>Document</title>
</head>
<body>
  <img class="wave" src="/images/BG5.png" /> 
  <br>
  <div class="container-fluid" alt="Max-width 100%" >
    <nav class="navbar navbar-expand-sm " style="background-color: #fafafa;" id="head_navbar" >
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"">
          <li class="nav-item">
              <a class="nav-link" href="/dashboard">Your Profile</a>
            </li>
          <li class="nav-item active">
            <a class="nav-link" href="/users/movie">Movie <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add">Booking</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/users/listBooking"> List Booking</a>
            </li>
          
        </ul>
        <a href="/users/logout" class="btn btn-secondary" id="btn">Logout</a>
      </div>
    </nav>
  </div>
  <br>
  <div class="jumbotron" style="padding: 0%" >
    <img class="ad" src="/images/ad4.png" /> 
  </div>
  
  <div class="container" style="margin-top:10px padding 10px" id="Profile">
    <div class="row">
      <div class="col-sm-4" style="background-color: #7ad3b9;">
        <h1 class="mt-4" id="head_text" >List Booking</h1>
      </div>
      <div class="col-sm-8" style="background-color: #fafafa;">
        <div class="col-sm-8" style="background-color: #fafafa;">
          <p>
            <br>
            <br>
            - Empty. -
            
             <h4 class="lead mb-3">Name : </h4>
            <h4 class="lead mb-3">Email : </h4>
          </p>
        </>
      </div>
    </div>
  </div>
</body>
</html>


   