<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/style_login.css" />
  <script src="https://kit.fontawesome.com/3c9c1c2011.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="/images/bar.png" />
  <title>Login</title>
</head>
<body>
  <img class="wave" src="/images/BG7.png" /> 
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body" id="box">
        <img class="profile" src="/images/profile3.png" /> 
        <h1 class="text-center mb-3" id="logo">Welcome</h1> 
    
        <form action="/users/login" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Enter Password"
            />
          </div>
          <button id="btn" type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <p class="lead mt-4" style="color: #e6244b;">
          No Account? <a href="/users/register" id="link_reg">Register</a>
        </p>
      </div>
    </div>
  </div>
</body>
</html>
