<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/style_reg.css" />
  <script src="https://kit.fontawesome.com/3c9c1c2011.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="/images/bar.png" />
  <title>Register</title>
</head>
<body>
  <img class="wave" src="/images/BG6.png" /> 
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body" id="box">
        <h1 class="text-center mb-3" id="logo">
          <i class="fas fa-user-plus"></i> Register
        </h1>
      
        <form action="/users/register" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Create Password"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
          </div>
          <button id="btn" type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
        <p class="lead mt-4" style="color: #e6244b;" >Have An Account? <a href="/users/login" id="link_log">Login</a></p>
      </div>
    </div>
  </div>
</body>
</html>


