*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    /* background-color: #e6244b; */
    
}
.wave{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    bottom: 0;
    z-index: -1;
}

#head_navbar{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0;
    margin: 0;
    border-radius: 20px;
}

.nav-link:hover{
color: #7ad3b9;
}

#btn{
    align-items: center;
    display: block;
    width: 10%;
    height: 50px;
    border-radius: 20px;
    margin: 1rem ;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to left,#7ad3b9,#ffd253,#ffda73);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #e6244b;
    background-size: 200%;
    transition: .5s ;
    text-decoration: none;
    padding: 10px;
    
}
#btn:hover{
    background-position: right;
    color: #fafafa;

}

#pro{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#Profile h1{
    
    font-family: 'Poppins', sans-serif;
    color: #e6244b;
}
h5{
    font-family: 'Poppins', sans-serif;
}

p{
    font-family: 'Poppins', sans-serif;
}